<div class="item checkbox">
  <div class='username-container pull-right'>
    <div class="btn-group">
      <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
        <span id="user_<%= dom_id(incomplete) %>"><%= incomplete.user.username %></span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Assign to:</a></li>
        <li role="presentation" class="divider">Assign to:</li>
        <% User.all.each do |user| %>
          <li><%= link_to user.username, assign_item_path(incomplete, username: user.username), method: :post, remote: true %></li>
        <% end -%>
      </ul>
    </div>

  </div>

  <%= form_for incomplete, remote: true do |f| %>
    <h3>
      <%= f.check_box :complete %>
      <%= incomplete.description %>

      <%#= link_to "(remove)", task, method: :delete, data: {confirm: "Are you sure?"}, remote: true %>
    </h3>
  <% end %>
  <p class="help-block">
    Requested by <%= incomplete.created_by.username %>
  </p>
  
</div>
